body h1,h2,h3,h4,h5,p,ul,li{    margin: 0;    padding: 0;}
header {
    padding: 8px;
    background-color: #17202a;
    color: #fff;
    font-family: poppins, sans-serif;
}
header  .nav-main ul {display: flex; list-style: none;}
header  .nav-main ul li {
    margin-right: 20px;
    font-size: 15px;
}
header  .nav-main ul li :hover {
    text-decoration: 3px solid underline;
}
.hero {
    background-image: url('home.png');
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.col-md-8 h1 {
    font-size: 36px;
    margin-bottom: 20px;
}
.col-md-8 p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}
  .footer {
    background-color: #17202a;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family: poppins, sans-serif;
}
.card img.card-img-top {
    height: 200px;
}
.container-D {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 530px;
}
 .Destinations .card:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px) ;
    transition: 0.5s all ease-out;} 

.card{
    border: none;
    border-radius : 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.container-D h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.container-D p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 35px;
}
.fade-in-down {
  transform: translateY(-30px);
  animation: fadeInDown 0.8s ease forwards;
}
.fade-in-down img {
    opacity: 0;
    animation: fadeInDown 0.8s ease forwards;
}

@keyframes fadeInDown{
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity:1;
        transform: translateY(0);
}
}
 .packages .card:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px) ;
    transition: 0.5s all ease-out;
}
.container-p {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    height: 600px;
}
.container-p h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
.container-p p {
    font-size: 18px;
    line-height: 1.6;
}
.carousel-item img {
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
}
.container-c {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    height: 530px;
}